@import '#/colorscheme';

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 12px;
  gap: 40px;

  .links {
    position: relative;
    display: flex;
    display: flex;
    align-items: center;
    gap: 1px;
    padding-right: 8px;

    .background {
      position: absolute;
      width: 0;
      height: 100%;
      background-color: $primaryLight;
      mix-blend-mode: difference;
      transform: translateX(-2px);
      transition: width 0.4s cubic-bezier(0.76, 0, 0.24, 1);
      pointer-events: none;
    }
    &:hover .background {
      width: 100%;
    }
  }
}
