@import '@/colorscheme';
@import '@/screensize';

.main {
  position: relative;
  
  .circleContainer {
    position: absolute;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    .circle {
      position: absolute;
      height: 100%;
      width: 150%;
      border-radius: 50%;
      background-color: $primaryLight;
    }
  }

  .topCircleContainer {
    top: 0;
    .topCircle {
      left: 50%;
      transform: translate(-50%, 85%);
      box-shadow: 0px -30px 50px 5px;
    }
  }

  .botCircleContainer {
    bottom: 0;
    .botCircle {
      left: 50%;
      transform: translate(-50%, -85%);
      box-shadow: 0px 30px 50px 5px;
    }
  }

  .backgroundContainer {
    font-family: "Roboto";
    position: relative;
    top: 0;
    width: 100vw;
    background-color: $primaryLight;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .lbg {
      position: relative;
      top: 0;
      width: 90%;
      display: flex;
      flex-direction: column;
      gap: 100px;
      justify-content: flex-start;
      align-items: center;
      z-index: 0;
      
      .curvedLine {
        position: absolute;
        top: 0;
        width: 100%;
      }
      .moreContainer {
        z-index: 10;
        .more{
          position: relative;
          width: 200px;
          height: 50px;
          background-color: rgba($secondaryAccent, 0.8);
          border: 2px solid $primaryDark;
          color: $primaryDark;
          border-radius: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 3;
          cursor: pointer;
          @media (width < $medium) {
            width: 150px;
            height: 40px;
          }  
          p{
              width: 100%;
              text-align: center;
              align-self: center;
              margin: 0px;
              font-size: 1em;
              font-weight: 500;
              position: relative;
              padding: 15px 0;
              z-index: 1;
              @media (width < $medium) {
                font-size: .8em;
              }  
          }
        }
      }
    }
  } 
}
