@import "@/colorscheme";

.introduction{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  background-color: $primaryDark;
  
  .progressBar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2vh;
    z-index: 2;
    background-color: $primaryLight;
  }

  svg{
      position: absolute;
      top: 0;
      width: 100%;
      height: calc(100% + 300px);
      path{
          fill: $primaryDark;
      }
  }
  .wordsGroupContainer {
    position: absolute;
    text-align: center;
    top: 20%;
    height: 49%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    overflow: hidden;

    .overlay {
    position: absolute;
    inset: 0;
    height: 100%;
    z-index: 2;
    background: linear-gradient(
      to bottom,
      rgba( $primaryDark, 0.9),
      rgba( $primaryDark, 0.9) 46%,
      transparent,
      transparent 46%,
      transparent,
      transparent 52.5%,
      rgba( $primaryDark, 0.9) 52.5%,
      rgba( $primaryDark, 0.9)
    );
  }

    .wordsGroup{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      line-height: 1.8rem;
        
        .word {
          display: block;
          font-size: 1.6rem;
          color: $primaryLight;
        }
    }
  }
}