.container {
  position: relative;
  display: block;
  width: fit-content;
  overflow: hidden;
  line-height: 1.1em;
  .replaced {
    position: absolute;
    inset: 0;
  }
}

.letter {
  display: inline-block;
}