@import '@/colorscheme';
@import '@/screensize';

.cardContainer {
  position: sticky;
  top: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    position: relative;
    height: 700px;
    width: 1000px;
    border-radius: 30px;
    padding: 65px 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    pointer-events: auto;

    h2{
      text-align: center;
      margin: 0px;
      font-size: 2em;
    }
    .body{
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100% - 80px);
      width: 100%;
      gap: 75px;

      .videoContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 25px;
        .inner {
          width: 100%;
          height: 100%;
        }
        video{
          width: 100%;
          border-radius: 25px;
          object-fit: scale-down;
        }
      }
    }
  }
}